main{
    background-image: url('https://img.freepik.com/premium-photo/landscape-scene-illustration-digital-painting-with-greenery-mountains-hills-meadows-blue-skies_467123-3994.jpg');
    background-size: cover;
    background-position: center;
    opacity: 100%;
}